mixin cutWrapper(elem='div')
  #{elem}.cutWrapper&attributes(attributes)
    .cut-container
      block
mixin cutInput(inputObj)
  - inputObj.type = inputObj.type || 'text';
  .cutWrapper&attributes(attributes)
    +input(inputObj).cut-container
mixin cutSelect(inputObj)
  .cutWrapper&attributes(attributes)
    +select(inputObj).cut-container
      block
mixin cutLabel({inputObj,spanObj})
  +cutWrapper('label')&attributes(attributes)
    .input-label.stacked
      span&attributes(spanObj).input-label__text
      +input(inputObj).input-label__input
mixin cutSelectLabel({inputObj,spanObj})
  +cutWrapper('label')&attributes(attributes)
    .input-label.stacked
      span&attributes(spanObj).input-label__text
      +select(inputObj).input-label__input
        block
mixin headedCut
  - const headObj = {};
  - const contentObj = {};
  mixin header
    - headObj.block = block;
    - headObj.attributes = attributes;
  mixin content
    - contentObj.block = block;
    - contentObj.attributes = attributes;
  .headed-cut&attributes(attributes)
    - block && block();
    .cut-header&attributes(headObj.attributes)
      - headObj.block && headObj.block();
    .cutWrapper
      .cut-container&attributes(attributes)
        - contentObj.block && contentObj.block();
+scss.
  .headed-cut{
    --_headerAdjust: 12px;
    display: grid;
    grid-template-columns: [head-start content-start] 1fr [head-end content-end];
    grid-template-rows: 
      [head-start]
      0
      [head-end content-start]
      1fr
      [content-end];
    padding-top: var(--_headerAdjust);
    > .cut-header{
      grid-area: head;
      place-self: center;
      background-color: var(--backColor);
      padding-inline: var(--half-gap);
      z-index: 10;
    }
    > .cutWrapper{
      grid-area: content;
      > .cut-container{
        padding-top: calc(var(--clipSize) * 2);
      }
    }
  }
  .cutWrapper{
    display: grid;
    grid-template-areas: 'content';
    clip-path: polygon(
      var(--clipSize) 0, calc(100% - var(--clipSize)) 0,
      100% var(--clipSize), 100% calc(100% - var(--clipSize)),
      calc(100% - var(--clipSize)) 100%, var(--clipSize) 100%,
      0 calc(100% - var(--clipSize)), 0 var(--clipSize)
      );
    > .cut-container{
      grid-area: content;
      background-color: var(--inputBack);
      border: var(--notchBorderSize) solid var(--borderColor);
      &:has(> .input-label){
        display: grid;
      }
      &:not(input):not(select){
        padding: var(--clipSize);
      }
      &:checked{
        --checkedBackColor: var(--borderColor);
        &:before{
          display: none;
        }
      }
    }
    &:after{
      --_nS: var(--notchSize);
      --_bS: var(--notchBorderSize);
      content: '';
      grid-area: content;
      background: {
        image:
          linear-gradient(45deg,var(--borderColor) calc(var(--_nS) + var(--_bS)),transparent calc(var(--_nS) + var(--_bS))),
          linear-gradient(135deg,var(--borderColor) calc(var(--_nS) + var(--_bS)),transparent calc(var(--_nS) + var(--_bS))),
          linear-gradient(225deg,var(--borderColor) calc(var(--_nS) + var(--_bS)),transparent calc(var(--_nS) + var(--_bS))),
          linear-gradient(315deg,var(--borderColor) calc(var(--_nS) + var(--_bS)),transparent calc(var(--_nS) + var(--_bS)));
      };
      pointer-events: none;
    }
  }
  .notched-checkbox{
    aspect-ratio: 1 / 1;
  }