mixin editLayout(editName='base',prefix)
  +defineEdit(editName,prefix)&attributes(attributes).edit-layout
    +cutWrapper
      block
      +editSectionSave(editName).material-icons
        |save
      +editSectionCancel(editName).material-icons
        |close
+scss('sheet').
  .edit-layout{
    margin-right: -5px;
    margin-top: -5px;
    filter: drop-shadow(rgba(0, 0, 0, 0.45) 0px 25px 20px);
    > .cutWrapper{
      background-color: var(--backColor);
      > .cut-container{
        padding-right: 10px;
        padding-top: 10px;
      }
    }
    .edit-save-button,
    .edit-cancel-button{
      place-self: center;
    }
  }
  .k-edit-overlay{
    background-color: transparent;
  }