//- Include your component pug files here.
//- include ./example-include.js
include ./_curveWrapper.pug
include ./_cutWrapper.pug
include ./_steelCheck.pug
include ./_diamondDivider.pug
include ./_editInterface.pug
include ./_editLayout.pug