+tab({name:'pc',button:{content:'person',class:'material-icons'},container:'article'})
  include ../sections/pc/_index.pug
+scss('sheet').
  .tabs--draw-steel__container--pc{
    column-width: 350px;
    column-gap: var(--half-gap);
    > *{
      margin-bottom: var(--half-gap);
    }
  }