-
  spine.skills = {
    crafting: ['alchemy','architecture','fletching','forgery','jewelry','mechanics','tailoring'],
    exploration: ['climb','drive','endurance','gymnastics','heal','jump','lift','navigate','ride','swim'],
    interpersonal: ['brag','empathize','flirt','gamble','handle animals','interrogate','intimidate','lead','lie','music','persuade','read person'],
    intrigue: ['alertness','conceal object','disguise','eavesdrop','escape artists','hide','performance','pick lock','pick pocket','sabotage','search','sneak','track'],
    lore: ['culture','criminal underworld','history','magic','monsters','nature','psionics','religion','rumors','society','timescape']
  };