include k-scaffold
include ./spines/_index.pug
include ./components/_index.pug
- const templateName = 'draw_steel';
//- Stores the sheet version number for use with version control functions
+hidden({name:'sheet version',value:0})
//- Now, for our actual sheet. We'll wrap this in a main element and give it an ID of main.
main#main
  +tabs({name:'draw steel',defaultActiveTab:'settings'})
    include ./views/_index.pug
    //- Add additional tabs as needed
//- An input to contain template fields that should always be output with a roll.
+hidden({name:'template start',value:`@{whisper}&{template:${templateName}} {{character_name=@{character_name}}} {{character_id=@{character_id}}}`})
include rolltemplate/_index.pug
+generateEdit({animation:['slide']})
+scss('sheet').
  .tabs--draw-steel{
    container: steel / inline-size;
  }
  .repeating-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      'rep rep'
      'add edit';
    > .repcontainer{
      grid-area: rep;
    }
    .repcontrol-button--add{
      grid-area: add;
      place-self: center start;
      width: 100%;
      height: 100%;
      text-align: center;
      box-sizing: border-box;
      transition: {
        property: color, background-color;
        duration: 1s;
      };
      &:hover,
      &:focus-visible{
        background-color: var(--highlightColor);
        color: var(--highlightText);
      }
    }
    .repcontrol{
      grid-area: edit;
      place-self: center start;
      width: 100%;
      height: 100%;
      text-align: center;
      box-sizing: border-box;
      transition: {
        property: color, background-color;
        duration: 1s;
      };
      > .btn{
        width: 100%;
        text-align: center;
      }
      &:hover,
      &:focus-visible{
        background-color: var(--highlightColor);
        color: var(--highlightText);
      }
    }
  }
  .description{
    white-space: pre-wrap;
  }
  .bold{
    font-weight: bold;
  }
+kscript('Draw_Steel')
  //- All additional javascript files should be included in the index file
  include ./javascript/_index.pug